.header {
  align-items: center;
  background-color: $color-default-white;
  display: flex;
  min-height: 74px;
  z-index: 5;

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    align-items: center;
    display: flex;
    opacity: 0;

    &.show {
      animation-fill-mode: forwards;
      animation-name: logo-show;
      animation-delay: 0.8s;
      animation-duration: 1s;
    }
  }

  &__logo-icon {
    overflow: inherit;
  }

  &__logo--heartbeat {
    animation: heartbeat 1.2s infinite;
  }
}
