.header {
  align-items: center;
  background-color: $color-default-white;
  display: flex;
  min-height: 74px;
  z-index: 5;

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__logo-icon {
    overflow: inherit;
  }

  &__logo--heartbeat {
    animation: heartbeat 1.2s infinite;
  }
}
