.main-nav {
  background-color: $color-default-white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 74px;
  opacity: 0;
  pointer-events: none;
  transition: all ease-out 0.3s;
  visibility: hidden;
  z-index: 5;

  @media screen and (min-width: $viewport--lg) {
    bottom: unset;
    left: unset;
    pointer-events: all;
    position: relative;
    right: unset;
    top: unset;
    visibility: visible;
  }

  &--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    transform: translateY(-37px);

    @media screen and (min-width: $viewport--lg) {
      flex-direction: row;
      justify-content: unset;
      transform: unset;
      padding: 0 10px 0 0;
    }
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin: 0 0 30px 0;

      @media screen and (min-width: $viewport--lg) {
        margin: 0 24px 0 0;
      }
    }
  }

  &__link {
    color: $color-text;
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
    transition: opacity ease-out 0.15s;

    @media screen and (min-width: $viewport--lg) {
      font-size: 14px;
      line-height: 14px;
    }

    &--test {
      animation: shine 1s linear infinite;
      background: linear-gradient(to left, #e72e8b 0%, #1f3e92 40%, #1f3e92 60%, #e72e8b 80%);
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__link-icon {
    position: absolute;
    top: 0;
    right: -10px;
  }
}

.main-nav.show {
  @media screen and (min-width: $viewport--lg) {
    animation-name: fade-in-top;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
    opacity: 0;
  }
}
