@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes heartbeat {
  0% {
    transform: translate(0, 0) scale(1);
  }

  20% {
    transform: translate(-20px, -1px) scale(1.2);
  }

  40% {
    transform: translate(-50px, -4px) scale(1.5);
  }
}

@keyframes move {
  from {
    transform: translateX(20);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes lighting-1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 5px);
  }
}

@keyframes lighting-2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 5px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
